/* GLOBAL VARIABLES */
:root {
  --beachsunset1-blue: #bee9e8;
  --beachsunset2-blue: #62b6cb;
  --beachsunset3-blue: #cae9ff;
  --beachsunset4-blue: #5fa8d3;
  --beachsunset5-blue: #1b4965;
  --black: #010b13;
  --grey: #242124;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
      to top,
      var(--black),
      var(--black),
      var(--grey) 100vh
    )
    var(--black);
  background-size: 100% 100vh, 100% auto;
  background-repeat: no-repeat, repeat;
}

ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main {
  margin-top: 90px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Misc */
.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Navbar */
.nav__container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  color: whitesmoke;
  background-color: var(--black);
  margin-bottom: 12px;
  z-index: 100;
}

.nav__container > p {
  grid-column: 1;
  font-size: 2em;
  font-weight: 600;
  margin-left: 12px;
}

.nav__navigation {
  height: 100%;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 12px;
}

.nav__navigation > li {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__navigation a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.1em;
  font-weight: 500;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 24px;
  border: 2px solid transparent;
  transition: box-shadow 0.3s ease;
}
.nav__navigation a:visited {
  text-decoration: none;
  color: whitesmoke;
}
.nav__navigation a:hover {
  box-shadow: inset 0 0 0 2px whitesmoke;
}

.nav__search_wrapper {
  position: relative;
  display: inline-block;
}

.nav__search {
  border: none;
  border-radius: 24px;
  height: 32px;
  width: 256px;
  box-sizing: border-box;
  padding: 8px;
  padding-left: 12px;
  font-size: 1em;
  font-weight: 400;
}
.nav__search:focus {
  outline: 0;
}

.nav__search_btn {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  height: 24px;
  width: 32px;
  border-radius: 24px;
  border: none;
  background-color: var(--black);
}

.nav__search_btn i {
  color: whitesmoke;
}

.nav__account_container {
  grid-column: 3;
}

/* Home */
.home__container {
  display: flex;
  flex-direction: column;
}

.home__media {
  color: whitesmoke;
  margin: 12px;
}

.home__media h1 {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 4px;
  margin-left: 24px;
}
.home__media hr {
  margin-left: 24px;
  margin-right: 24px;
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: min-content;

  padding-right: 1rem;
  padding-bottom: 1rem;
  margin: 0 1rem;

  overflow-x: auto;
  overscroll-behavior-inline: contain;

  scrollbar-width: none;
}
.media-scroller::-webkit-scrollbar {
  display: none;
}

.media span {
  width: inherit;
  display: flex;
  justify-content: center;
  text-align: center;
}

.media-scroller-container {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.scroll-btn {
  width: 100px;
  height: 160px;
  border: none;
  border-radius: 0;
  font-size: 1.4em;
  color: whitesmoke;
  box-shadow: none;
  cursor: pointer;
  background: var(--black);
}
.left-btn {
  background: linear-gradient(
    90deg,
    rgba(1, 11, 19, 1) 0%,
    rgba(1, 11, 19, 0) 100%
  );
}
.right-btn {
  background: linear-gradient(
    -90deg,
    rgba(1, 11, 19, 1) 0%,
    rgba(1, 11, 19, 0) 100%
  );
}
.scroll-btn:hover {
  background-color: rgba(245, 245, 245, 0.1);
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* Movies List */
.pageable {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 24px 0px;
}

.pageable a {
  width: 32px;
  height: 32px;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pageable a span {
  height: min-content;
  width: min-content;
  color: whitesmoke;
  font-size: 1em;
  transform: translateY(-2px);
}

.aquo {
  font-size: 1.5em;
  transform: translateY(-4px);
}

/* Movies Posters */
.movies__container {
  margin: 0px 12px 12px 12px;
}

.movieslist__grid {
  display: grid;
  /*border: 2px solid red;*/ /*DEBUG*/
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 8px;
  justify-items: center;
}

.movieposter__wrapper {
  height: 250px;
  aspect-ratio: 2/3;
  margin: 8px;
  transition: transform 0.1s ease-in-out, outline 0.1s ease-in-out;
}

.movieposter__wrapper:hover {
  transform: scale(1.04);
  outline: 2px solid white;
  cursor: pointer;
}

.movieposter__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Movie Descriptions */
.description__container {
  width: 100%;
  height: 300px;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: linear-gradient(
    45deg,
    var(--beachsunset4-blue),
    var(--main-blue)
  );
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.description__left h2 {
  color: whitesmoke;
  font-size: 2em;
  margin: 10px 12px;
}

.description__left p {
  color: whitesmoke;
  font-size: 1.2em;
}

.movie__year__runtime {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  width: fit-content;
  height: min-content;
  margin-bottom: 12px;
  margin-left: 12px;
}

.movie__year__runtime p {
  font-weight: 600;
}

.movie__plot {
  height: 5em;
  overflow: hidden;
  margin: 0px 12px;
  margin-bottom: 12px;
}

.movie__plot p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* how many lines are shown */
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie__genres,
.movie__cast {
  margin-left: 12px;
  margin-bottom: 8px;
  font-style: italic;
  font-weight: 600;
}

.description__right {
  display: inline-flex;
  justify-content: flex-end;
}

.movie__imagewrapper {
  height: 100%;
}

.movie__imagewrapper img {
  height: 100%;
  display: block;
  border-radius: 0px 0px 12px 0px;
}

/* Movie Details */
.moviedetails__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 48px;
  color: whitesmoke;
  margin-top: 18px;
}

.return-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  border: none;
  border-radius: 0%;
  background-color: transparent;
  width: fit-content;
  color: whitesmoke;
  margin-left: 24px;
  font-size: 1.1em;
}
.return-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.moviedetails__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  margin-left: 24px;
}

.moviedetails__imagewrapper {
  width: 375px;
  height: 500px;
  border: 3px solid whitesmoke;
}

.moviedetails__imagewrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.moviedetails__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.moviedetails__right h1 {
  font-size: 2.5em;
  font-weight: 700;
}

.moviedetails__year_runtime {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.moviedetails__year_runtime span {
  font-size: 1.2em;
  font-weight: 600;
}

.moviedetails__movieplot {
  width: 80%;
}

.moviedetails__movieplot span {
  font-size: 1.2em;
  font-weight: 300;
}

.moviedetails__genres span {
  font-size: 1.2em;
  font-weight: 600;
  font-style: italic;
}

.moviedetails__directors,
.moviedetails__cast {
  font-size: 1.2em;
  font-weight: 600;
}

.moviedetails__directors span,
.moviedetails__cast span {
  font-weight: 400;
  font-style: italic;
}

.moviedetails__ratings_container {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-top: 32px;
}

.moviedetails__imdbrating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.moviedetails__imdbrating_rating {
  font-size: 1.4em;
  font-weight: 500;
}

.moviedetails__tomatoes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.moviedetails__tomatoes_meter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.moviedetails__tomatoes_meter_true {
  font-size: 1.4em;
  font-weight: 500;
}

.moviedetails__tomatoes_meter_false {
  font-size: 1.4em;
  font-weight: 700;
  opacity: 0.6;
}

/* Comments */
.moviedetails__commments_section {
  margin: 24px 128px 48px 24px;
  color: whitesmoke;
}

.moviedetails__commments_section h2 {
  font-size: 1.1em;
  font-weight: 600;
}

.moviedetails__commments_form {
  margin-top: 12px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.moviedetails__commments_comment {
  width: 100%;
  height: 80px;
  padding: 8px 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--grey);
  background-color: rgba(68, 68, 78, 0.2);
  box-shadow: none;
  color: whitesmoke;
  resize: none;
  margin-bottom: 12px;
}

.moviedetails__commments_comment:focus {
  outline: 0;
}

.moviedetails__commments_commentbtn_container {
  display: flex;
  justify-content: flex-end;
}

.moviedetails__commments_commentbtn_container button {
  width: min-content;
  padding: 8px 12px;
  font-size: 1.1em;
  font-weight: 500;
  color: whitesmoke;
  background-color: var(--beachsunset4-blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.moviedetails__commments_usercomment_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.moviedetails__commments_user {
  width: 120px;
  flex-shrink: 0;
  margin: 0px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.moviedetails__commments_user img {
  width: 40px;
  height: 40px;
}

.moviedetails__commments_user span {
  font-size: 0.8em;
  text-align: center;
}

.moviedetails__commments_usercomment {
  width: 100%;
  min-height: 80px;
  padding: 12px;
  box-sizing: border-box;
  border-left: 1px solid var(--grey);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(68, 68, 78, 0.2);
}
